.intro-paragraph {
  padding: 3rem 0;
}

.sponsor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor img {
  width: 200px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.sponsor img:hover {
  scale: 1.1;
}

.intro-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.intro-goal {
  list-style-type: none;
  padding-left: 0px;
}

.intro-goal li {
  line-height: 2.5rem;
}

.quote {
  font-size: 2rem;
  line-height: 4rem;
  font-style: italic;
}

.quote-author {
  font-size: 1.75rem;
  line-height: 3.5rem;
}