.form-input {
  padding-left: 50px;
  padding-right: 15px;
  border-radius: 25px;
  border: none;
  background: var(--lightest);
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.5s;
}

.form-input:focus {
  outline: none;
  cursor: initial;
}

.form-input-container {
  position: relative;
  margin-top: calc(0.5rem + 15px);
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-input-container i {
  position: absolute;
  font-size: 26px;
  color: var(--darkest);
}

.symbol {
  left: 10px;
}

.password-input {
  padding-right: 50px;
}

.password-eye {
  right: 10px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.password-eye:hover {
  color: var(--darker);
}

.form-placeholder {
  position: absolute;
  left: 42px;
  font-size: 18px;
  color: var(--darker);
  transition-duration: 0.5s;
  cursor: pointer;
}

.readonly {
  pointer-events: none;
}

.up-placeholder {
  color: var(--darkest);
  font-size: 15px;
  transform: translate(-42px, -40px);
  font-weight: bold;
}

.down-placeholder {
  color: var(--darker);
  font-size: 18px;
  transform: translate(0, 0);
  font-weight: initial
}