.a-four-o-four-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & > * {
    margin: 0.5rem 0;
  }

  .four-o-four-img {
    width: 30%;
    margin-bottom: 30px!important;
  }
  
  .four-o-four-detail {
    font-size: 24px;
  }
}