.nav-logo {
  max-width: 150px;
  width: 100%
}

.nav-buttons {
  background-color: var(--lightest);
  position: fixed;
  top: 0;
  bottom: 0;
}

ul.nav-list {
  padding-left: 0;
}

li.nav {
  cursor: pointer;
  transition: 0.25s;
}

li.nav:hover {
  background-color: var(--lighter);
}

a.nav-link {
  color: black;
}

a.nav-link:hover {
  text-decoration: underline!important;
}

.admin-main {
  min-height: 100vh;

  main {
    margin-left: calc(185px + 5%);
  }
}