
.nav-buttons {
  background: var(--black);
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  color: var(--white);
  width: 250px;

  .nav-logo {
    max-width: 150px;
    width: 100%
  }

  .nav-user {
    img {
      height: 60px;
      border-radius: 50%;
    }
  }
}

.admin-main-container main {
  td {
    .bi, a .bi {
      font-size: 20px;
      transition-duration: 0.15s;
      cursor: pointer;
      padding: 0 5px;
      color: var(--black)!important;

      &:hover {
        background-color: var(--darkest);
        color: var(--white)!important;
      }
    }
  }
}