:root {
  --darkest: #4d1e00;
  --darker: #843400;
  --mid-dark: #d25900;
  --mid-light: #ff7d1e;
  --lighter: #ffc194;
  --lightest: #fff0e5;
  --light-gray: #e1e1e1;
  --white: #ffffff;
  --white-tran: #ffffff4d;

  user-select: none;
}


a {
  text-decoration: inherit;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  column-gap: 10px;
}

main {
  flex: 1 1 0;
}