:root {
  --darkest: #4d1e00;
  --darker: #843400;
  --mid-dark: #d25900;
  --mid-light: #ff7d1e;
  --lighter: #ffc194;
  --lightest: #fff0e5;
  --light-gray: #e1e1e1;
  --white: #ffffff;
  --white-tran: #ffffff4d;

  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pointer {
  cursor: pointer;
}

main {
  margin: 30px 5%;
}

.home-main {
  margin: 0;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none!important;
}

.small-at-btn, .at-btn, .small-at-btn-seconary, .at-sbtn, .at-sbtn-secondary {
  transition-duration: 0.25s;
}

.small-at-btn, .at-btn, .small-at-btn-seconary {
  border-radius: 20px;
}

.small-at-btn, .at-btn, .at-sbtn {
  background-color: var(--darker);
  color: var(--white);
  transition-duration: 0.25s;
  border: none;
}

.small-at-btn, .small-at-btn-seconary {
  padding: 4px 1rem;
}

.small-at-btn-seconary, .at-sbtn-secondary {
  background-color: transparent;
  color: var(--darker);
  border: 1px solid var(--darker);
}

.at-btn {
  padding: 6px 1.5rem;
  font-size: 18px;
}

.at-sbtn, .at-sbtn-secondary {
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 5px;
}

.m-at-btn {
  margin-top: 20px;
}

.small-at-btn:hover, .at-btn:hover, .small-at-btn-seconary:hover, .at-sbtn:hover, .at-sbtn-secondary:hover {
  background-color: var(--darkest);
  color: var(--white);
}

.c-10 {
  column-gap: 10px;
}

.w-10 {
  width: 10%;
}