@font-face {
  font-family: "IBM Plex Sans";
  src: url("/src/fonts/IBMPlexSans.ttf");
}

:root {
  --darkest: #4d1e00;
  --darker: #843400;
  --mid-dark: #d25900;
  --mid-light: #ff9245;
  --light: #faae78;
  --lighter: #ffe0ca;
  --lighterer: #fff0e5;
  --lightest: #fdf6f0;
  --gray: #7f7f7f;
  --light-gray: #e1e1e1;
  --black: #464646;
  --white: #ffffff;
  --white-tran: #ffffff4d;
  --shadow: rgba(0,0,0,0.3);
  --dark-shadow: rgba(0,0,0,0.65);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

body {
  min-height: 100dvh;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'IBM Plex Sans', serif!important;
  color: var(--black)!important;
}

.home-main {
  margin: 0;
}

.user-main-container {
  background-color: var(--lightest);
  padding: 1% 0;
  flex: 1 1 0;
  place-content: center;
}

.user-main {
  margin: 3% 4%;
  padding: 40px;
  box-shadow: -10px -10px 10px var(--shadow), 10px 10px 10px var(--shadow);
  background-color: var(--white);
}

.admin-main-container { 
  padding-left: 250px;
  
  main {
    padding: 15px 30px;
    min-height: calc(100vh - 40px);
    height: 100%;
    background: var(--lightest);
  }
}

@media (max-width: 500px) {
  .user-main {
    padding: 40px 20px;
  }

  .user-main-container {
    flex: initial;
  }
}

@media (max-width: 850px) {
  .user-main-container {
    padding: 0;
  }

  .user-main {
    box-shadow: none;
    margin: 0;
  }
}


/* Cài đặt mặc định */
input:focus {
  outline: none;
}

a {
  text-decoration: none!important;
}


/* Các class chung */
.text-justify {
  text-align: justify;
}

.pointer {
  cursor: pointer!important;
}

.small-at-btn, .at-btn, .at-btn-secondary, .small-at-btn-secondary, .at-sbtn, .at-sbtn-secondary, .small-at-sbtn, .small-at-sbtn-secondary {
  transition-duration: 0.25s;
}

.small-at-btn, .at-btn, .small-at-btn-secondary, .at-btn-secondary {
  border-radius: 20px;
}

.small-at-btn, .small-at-sbtn, .at-btn, .at-sbtn {
  background-color: var(--darker);
  color: var(--white);
  transition-duration: 0.25s;
  border: none;
}

.small-at-btn, .small-at-btn-secondary {
  padding: 4px 1rem;
}

.small-at-btn-secondary, .small-at-sbtn-secondary, .at-sbtn-secondary, .at-btn-secondary {
  background-color: transparent;
  color: var(--darker);
  border: 1px solid var(--darker);
}

.at-btn, .at-btn-secondary {
  padding: 6px 1.5rem;
  font-size: 18px;
}

.at-sbtn, .at-sbtn-secondary, .small-at-sbtn, .small-at-sbtn-secondary {
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 5px;
}

.m-at-btn {
  margin-top: 20px;
}

.small-at-btn:hover, .at-btn:hover, .at-btn-secondary:hover, .small-at-btn-secondary:hover, .at-sbtn:hover, .at-sbtn-secondary:hover, .small-at-sbtn:hover, .small-at-sbtn-secondary:hover {
  background-color: var(--darkest);
  color: var(--white);
}

.c-10 {
  column-gap: 10px;
}

.w-10 {
  width: 10%;
}

.w-120px {
  width: 120px
}

.flex-1 {
  flex: 1 1 0;
}

.disabled {
  display: none;
}

.error-value {
  margin-top: 0.5rem;
  color: red;
  font-style: italic;
  font-size: 16px;
  text-align: left;
}

.form-detail-title {
  color: var(--darkest);
  font-size: 15px;
  font-weight: bold;
}