.filter {
  display: flex;
  margin-top: 10px;
  background-color: var(--lightest);

  @media (max-width: 700px) {
    & {
      display: none;
    }
  }

  .save-btn {
    background-color: var(--lighter);
    transition-duration: 0.3s;

    &:hover {
      background-color: var(--darker);
      color: var(--white);
    }
  }
}

/*
.filter > *:last-child > .filter-button {
  border-right: 0px;
}*/