.product-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.25s;
  cursor: pointer;
  border: 1px solid var(--light-gray);
  box-shadow: -5px -5px 15px var(--shadow);
  width: 100%;
  color: var(--darkest);
  animation: fadeIn 0.5s;

  &:hover {
    background-color: var(--lightest);
    box-shadow: -5px -5px 15px var(--mid-light);
  }  

  .product-thumbnail {
    aspect-ratio: 1/1;
    border-radius: 20px;
    max-width: 200px;
  }

  p {
    margin-bottom: 0;
    text-align: center;
  }

  .product-name {
    flex-grow: 1;

    p {
      margin: 0.5rem 0;
      font-size: 18px;
      font-weight: bold;
      color: var(--darkest)!important;
      transition: 0.25s;
    }

    &:hover {      
      color: var(--darker);
      font-style: italic;
      text-decoration: underline;
    }
  }

  .product-color-list {
    display: flex;
    column-gap: 4px;
    min-height: calc(20px + 1rem);

    .product-color {
      width: 20px;
      height: 20px;
      border: 1px solid var(--black);
      border-radius: 50%;
      transition: 0.25s;

      &:hover {  
        ~:not(:hover) {
          filter: brightness(50%) grayscale(100%);
          scale: 0.6;
        }
      }
    
      &:has(~:hover) {
        filter: brightness(50%) grayscale(100%);
        scale: 0.6;
      }
    }
  }
  
  .product-old-price, .product-soldout {
    font-size: 16px;
    font-style: italic;
  }

  .product-old-price {
    text-decoration: line-through;
  }

  .product-price {
    flex: 1 1 0;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--mid-dark)
  }
}