footer {
  user-select: none;
  background-color: var(--lighter);
  color: var(--darkest);
  padding: 1rem 4%;

  .detail-address {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .left {
    flex: 0.6 1 0
  }

  a {
    color: var(--darkest)!important;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
  }

  li {
    cursor: pointer;
    transition-duration: 0.15s;

    &:hover {
      font-weight: bold;
    }
  }

  @media (max-width: 600px) {
    .detail-address {
      flex-direction: column;
      text-align: center;
    }

    h1 {
      font-size: 24px;
      padding-bottom: 5px;
      border-bottom: 1px solid #4d1e0040;
    }

    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
    }
  }
}