.four-o-three {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: black;
  color: red;

  .stop {
    height: 30vh;
  }

  .detail {
    font-weight: bold;
    font-size: 8vh;
  }
}