@font-face {
  font-family: "Oswald";
  src: url("/src/fonts/Oswald.ttf");
}

.user-header {
  .bi {
    font-size: 25px;
    color: var(--black);
  }

  .hamburger {
    display: none;
  }

  .top {
    background-color: var(--lighter);
    align-items: center;
  }

  .search {
    min-width: 100px;
    background-color: transparent;
    color: var(--darkest);
    border: none;
  }

  .search::placeholder {
    color: #4d1e0080;
  }

  .search:focus {
    outline: none;
  }

  .login-btn, .account-btn {
    padding: 0;
    padding-right: 0.3rem;
    border: none;
    background-color: transparent;
    color: var(--black);
  }

  .login-btn {
    span {
      vertical-align: text-bottom;
    }

    &:hover {
      color: var(--black);
    }
  }

  .account-btn {
    outline: none;

    .dropdown-avatar {
      width: 30px;
      border-radius: 30px;
    }
    
    span {
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    border: none;
    border-radius: 0px;
    background-color: var(--lighter);
    padding: 0px;
    transform: translate(0px, 38px)!important;

    li {
      padding: 0.5rem 1rem;
      transition-duration: 0.15s;
      
      a {
        color: var(--black)!important;
        width: 100%;
        display: block;
      }
    }

    li:hover {
      background-color: var(--darkest);
      * {
        color: var(--white);
      }
    }

    .bi {
      font-size: initial;
    }

    span {
      padding-left: 5px;
      vertical-align: text-bottom;
    }
  }

  .nav {
    font-family: "Oswald", sans-serif;
    background-color: var(--shadow);
    column-gap: 30px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    * {
      display: inline-block;
    }
  }

  /* Thanh navigation (dưới 850px) */
  .phone-menu {
    font-family: "Oswald", sans-serif;

    .phone-menu-background {
      background-color: var(--shadow);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .phone-menu-list {
      position: fixed;
      background-color: var(--lighter);
      display: flex;
      flex-direction: column;
      z-index: 1000;
      text-align: right;
      width: 120px;
      right: 0;
      top: 0;
      bottom: 0;

      .nav-btn {
        width: 100%;
        color: var(--darkest);
        line-height: 3rem;
        font-weight: normal;

        &:hover {
          border-bottom: 2px solid var(--darkest);
          background-color: var(--lighterer);
        }
      }
    }
  }

  /* Thanh navigation (trên 850px) */
  .nav-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
  }

  .nav-btn {
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: var(--white);
    font-size: 24px;
    border-radius: 0px;
    transition-duration: 0.15s;
    font-weight: bold;
    padding: 0 10px;

    &:hover {
      border-bottom: 2px solid var(--white);
      text-shadow: 2px 2px 1px var(--white-tran);
    }
  }

  .logo {
    width: 10%;
    max-width: 170px;
  }

  @media (max-width: 600px) {
    .login-btn > span, .account-btn > span {
      display: none;
    }
  }

  @media (max-width: 850px) {
    .hamburger {
      display: initial;
    }

    .nav {
      display: none!important;
    }
  }
}