.minus, .plus, .cart, .quantity {
  border: none;
  cursor: pointer;
  transition-duration: 0.15s;
  font-size: 18px;
}

.minus, .plus, .cart-img {
  width: 36px;
  height: 36px;
}

.quantity {
  width: 48px;
  height: 36px;
}

.minus, .plus {
  background-color: var(--lightest);
  font-size: 20px;
}

.minus:hover, .plus:hover {
  background-color: var(--lighter);
}

.cart {
  background-color: var(--bs-yellow);
}

.cart:hover {
  background-color: #ff9807;
}