.cart-table th, .cart-table td {
  vertical-align: middle;
}

.header-order > td {
  background: var(--lightest)!important;
  font-weight: bold;
  font-size: 20px;
}

.return-btn-group {
  width: 110px;
}